.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: #440a67;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  .logo {
    color: white;
    font-size: 20px;
  }

  .buttons-wrapper {
    button + button {
      margin-left: 20px;
    }
  }
}
